  .parent {
            min-height: 840px;
            position: relative;
            min-width: 500px;
            width: 100%;
        }
          html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        font,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td {
            background: transparent;
            border: 0;
            font-size: 100%;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            text-rendering: optimizeLegibility;
        }

        body {
            -webkit-print-color-adjust: exact;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        @font-face {
            font-family: Arial;
            font-weight: 300;
        }

        .bgGraphic {
            background: url(https://resumegeminicontent.azureedge.net/images/background.png ) no-repeat;
        }

        .bgGraphic1 {
            background: url(https://resumegeminicontent.azureedge.net/images/BG1.png ) repeat;
        }

        .bgGraphic2 {
            background: url(https://resumegeminicontent.azureedge.net/images/hexagon-graphic.png ) no-repeat;
            background-size: 100%;
        }

        .parent {
            color: black;
            font-family: Arial;
            font-size: 14px;
            line-height: 16px;
            padding: 0 36px 43px;
        }

        .description {
            font-family: Arial;
            font-size: 14px;
        }

        .top-remove {
            padding: 45px 50px 10px 50px;
        }

        .resume-container ul li {
            margin: 0 0 4px 16px;
            padding: 0;
            font-size: 14px;
            line-height: 1.2;
        }

        .hex {
            stroke: #fff;
            stroke-width: 5;
            transform: scale(0.5);
        }

        .position-name {
            font-size: 14px;
            color: #ffffff;
            font-style: italic;
            padding: 4px 0 0;
        }

        .job-head {
            background: #2BAD71;
            padding: 4px 8px;
            border-radius: 4px;
            display: inline-block;
            line-height: 1.15;
        }

        .contactDetails {
            padding-left: 30px;
            padding-top: 20px;
        }

        .contactDetails div {
            padding-top: 20px;
        }

        .section:not(:last-child) {
            padding-bottom: 15px;
        }

        .section h1 {
            color: #2BAD71;
            font-family: Arial;
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 1;
        }

        .section h2 {
            color: black;
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
        }

        .company {
            color: black;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.15;
            padding-bottom: 4px;
        }

        .job-title {
            color: black;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.15;
            padding-bottom: 2px;
        }

        .sectionList {
            margin-top: 12px;
            margin-bottom: 5px;
        }

        .dateBox {
            padding-top: 2px;
        }

        .headerInfo {
            width: 100%;
            float: left;
            padding-bottom: 20px;
        }

        .headerTopSection {
            width: 100%;
            float: left;
            border-bottom: 6px solid #2BAD71;
            padding-bottom: 12px;
            margin-bottom: 16px;
        }

        .headerLeft {
            width: 58%;
            float: left;
            padding: 0;
        }

        .addressRight {
            width: 42%;
            float: right;
            text-align: right;
        }

        .address,
        .iconList {
            color: black;
            font-size: 14px;
            text-align: right;
            line-height: 1.15;
            display: flex;
            justify-content: flex-end;
        }

        .address a,
        .iconList a {
            color: black;
            text-decoration: none;
            word-break: break-all;
        }

        .addressBox {
            display: inline-block;
            max-width: 90%;
        }

        .iconList {
            padding-bottom: 6px;
        }

        .summary {
            font-size: 14px;
            line-height: 1.4;
        }

        .sectionDetails .description ul {
            margin-top: 6px;
        }

        .sectionDetails .description p {
            margin-top: 5px;
        }

        .sectionDetails .data {
            position: relative;
        }

        .sectionDetails .data::before {
            content: '';
            position: absolute;
            top: 2px;
            left: -18px;
            width: 10px;
            height: 100%;
            background: #2BAD71;
            opacity: 0.8;
        }

        .skills table {
            width: 100%;
        }

        .skills table tr td {
            padding-bottom: 7px;
        }

        .skills ul li {
            display: inline-block;
            font-size: 14px;
            line-height: 1.15;
            margin: 0 8px 8px 0;
        }

        .skills ul li::before {
            display: none;
        }

        .languageDetails ul li {
            display: inline-block;
            font-size: 14px;
            line-height: 1.15;
            margin: 0 8px 8px 0;
        }

        .languageDetails ul li::before {
            display: none;
        }

        .resume-container .hobbies ul li {
            margin-bottom: 16px;
        }


        i.fa {
            display: none;
            font-size: 14px;
            width: 14px;
        }

        x.fa {
            color: #2BAD71;
            display: inline-block;
            font-size: 14px;
            padding: 0 0 0 4px;
            vertical-align: top;
        }

        .margin-fa-icons:before {
            margin-right: 2px;
        }

        .date,
        .city-state {
            background: transparent;
            font-size: 12px;
            color: #000;
            font-style: italic;
            line-height: 1;
            padding-right: 4px;
        }

        .firstSection {
            clear: both;
            padding-top: 5px;
        }

        div.name {
            color: black;
            font-size: 32px;
            font-weight: 500;
            line-height: 1.1;
            padding-bottom: 8px;
        }

        .degree-field {
            font-size: 14px;
            color: #222;
            font-weight: bold;
            position: relative;
        }

        .degree-field::before {
            content: '';
            position: absolute;
            top: 2px;
            left: -18px;
            width: 10px;
            height: 40px;
            background: #2BAD71;
            opacity: 0.8;
        }

        .school {
            font-size: 14px;
            color: #666;
            padding-left: 2px;
        }

        .section ol {
            margin: 5px 0 0 16px;
        }

        .section ol li {
            padding: 0 0 4px 0;
        }

        .gap {
            margin-right: 10px;
        }

        .resumeFooter {
            border-top: black;
            color: black;
            padding-top: 8px;
            text-align: center;
        }

        .resumeFooter a {
            color: black;
            text-decoration: none;
        }

        .name-padding {
            padding: 0px;
        }

        .projectsSection .sectionDetails {
            font-size: 14px;
            line-height: 1.3;
        }

        .projectsSection .sectionDetails p {
            font-size: 14px;
            line-height: 1.2;
            margin: 0;
            padding: 0 0 4px;
        }

        .projectsSection ul {
            margin: 0;
            padding: 0;
        }

        .projectsSection ul li {
            margin: 0 0 4px 16px;
            padding: 0;
            font-size: 14px;
            line-height: 1.2;
        }

        /*** ***/
        .skillNone li {
            list-style-type: none;
            padding: 0 30px 0 0 !important;
        }

        .skillNumbered {
            margin-left: 2px;
        }

        .skillNumbered li {
            list-style-type: decimal !important;
            margin-left: 15px !important;
            display: revert !important;
        }

        .skillNumbered li::marker {
            font-weight: bold;
        }

        .skillBullets {
            display: flex;
            flex-wrap: wrap;
        }

        .skillBullets li {
            width: calc(33% - 26px);
            margin-left: 15px !important;
            position: relative;
        }

        .skillBullets li::after {
            content: '';
            position: absolute;
            top: 6px;
            left: -14px;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background: #2CBCAD;
        }

        .skillRounded,
        skillRoundedBgcolor {
            display: flex;
            flex-wrap: wrap;
        }

        .skillRounded li {
            padding: 4px 6px !important;
            border: 1px solid #2CBCAD;
            border-radius: 6px;
        }

        .skillRoundedBgcolor li {
            padding: 4px 6px !important;
            color: #fff;
            background: #2CBCAD;
            border-radius: 6px;
        }

        /*** ***/

        .languageNone li {
            list-style-type: none;
            padding: 0 30px 0 0 !important;
        }

        languageNumbered ul {
            padding: 0;
        }

        .languageNumbered li {
            list-style-type: decimal !important;
            margin-left: 15px !important;
            display: revert !important;
        }

        .languageNumbered li::marker {
            font-weight: bold;
        }

        .languageBullets ul {
            display: flex;
            flex-wrap: wrap;
        }

        .languageBullets li {
            width: calc(33% - 26px);
            margin-left: 15px !important;
            position: relative;
        }

        .languageBullets li::after {
            content: '';
            position: absolute;
            top: 6px;
            left: -14px;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background: #2CBCAD;
        }

        .languageRounded ul,
        .languageRoundedBgcolor ul {
            display: flex;
            flex-wrap: wrap;
        }

        .languageRounded li {
            padding: 4px 6px !important;
            border: 1px solid #2CBCAD;
            border-radius: 6px;
        }

        .languageRoundedBgcolor li {
            padding: 4px 6px !important;
            color: #fff;
            background: #2CBCAD;
            border-radius: 6px;
        }